{% extends 'base.html' %} 
{% block content %}
<div class="about">
    <div class="about-container">
        <h1>Hvað er að frétta?</h1>
        <ul>
            <li><p>
                Hvað er að frétta notar gögn frá íslenskum fréttasíðum og býr til nýjar fréttir.
                Gögnin koma frá Vísi og Mbl og er notað um 10,000 fréttir frá hvorum miðli fyrir sig.
                Fréttirnar eru frá lok september 2019 til byrjun apríl 2020.
            </p><br></li>
            <li><p>
                Síðan er aðallega hugsuð til skemmtunar og til að drepa tímann í COVID-19 faraldrinum. Notaðar eru svokallaðar 
                <a href="https://en.wikipedia.org/wiki/Markov_chain" style="color: blue; text-decoration: underline;"> Markov-keðjur</a>
                til að framkalla fréttirnar. 
            </p></li>
            <br><br><li><p>
                Ef þú hefur einhverjar ábendingar eða tillögur geturu sent mér tölvupóst á
                <a href="https://mail.google.com/mail/" style="color: blue; text-decoration: underline;"> bjarturluk@gmail.com</a>
            </p></li>
        </ul>
  
    </div>
</div>
{% endblock %}